const Collision castle_grounds_area_{{ area_num }}_collision[] = {
    COL_INIT(),
    COL_VERTEX_INIT(12),
{%- for vert in verts %}
    COL_VERTEX({{ vert.x }}, {{ vert.y }}, {{ vert.z }}),
{%- endfor %}
    COL_TRI_INIT(SURFACE_DEFAULT, 6),
    COL_TRI(0, 1, 2),
    COL_TRI(0, 2, 3),
    COL_TRI(4, 5, 6),
    COL_TRI(4, 6, 7),
    COL_TRI(8, 9, 10),
    COL_TRI(8, 10, 11),
    COL_TRI_STOP(),
    COL_WATER_BOX_INIT(1),
    COL_WATER_BOX(0x00, {{ water.x1 }}, {{ water.z1 }}, {{ water.x2 }}, {{ water.z2 }}, {{ water.y }}),
    COL_END()
};
