const Collision castle_grounds_area_{{ area_num }}_collision[] = {
    COL_INIT(),
    COL_VERTEX_INIT(12),
{%- for vert_x, vert_y, vert_z in verts %}
    COL_VERTEX({{ vert_x }}, {{ vert_y }}, {{ vert_z }}),
{%- endfor %}
    COL_TRI_INIT(SURFACE_DEFAULT, 6),
    COL_TRI(0, 1, 2),
    COL_TRI(0, 2, 3),
    COL_TRI(4, 5, 6),
    COL_TRI(4, 6, 7),
    COL_TRI(8, 9, 10),
    COL_TRI(8, 10, 11),
    COL_TRI_STOP(),
    COL_WATER_BOX_INIT(1),
    COL_WATER_BOX(0x00, {{ water_x1 }}, {{ water_z1 }}, {{ water_x2 }}, {{ water_z2 }}, {{ water_y }}),
    COL_END()
};
